h1{
  color: red;
  background-color: black;
  text-align:center;
  font-size: 60;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 45px;
}

h2{
  color: red;
  background-color: black;
  font-size: 54;
  text-align:center;
  margin-right:25px;
  margin-left:25px;
}
p{
  color:red;
  background-color: black;
  font-size:48;
  text-align:center;
  margin-right:25px;
  margin-left:25px;
}

.text{
   color: red;
  background-color: black;
  text-align:center;
  font-size: 60;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 45px;
}
